.footer {
    display: flex;
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    position: relative;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}